<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nostrum sit aut rerum neque, laudantium totam
            blanditiis officia optio. Reiciendis, a dolor corporis exercitationem fugiat asperiores. Debitis blanditiis
            harum eveniet.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur ratione modi architecto odio repellendus
            possimus reiciendis minima, non nulla magnam vel quaerat iusto harum eos ullam labore voluptatum fuga
            nesciunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente atque doloribus saepe aspernatur
            ipsa laborum quibusdam culpa dicta suscipit, deleniti maxime obcaecati beatae perferendis facere cupiditate?
            Accusantium, harum non!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>